PETSTORE_BASE_URL=https://petstore.swagger.io/v2
DEMO_WEBSHOP_BASE_URL=https://demowebshop.tricentis.com

SELENOID_URL=https://selenoid.example.com/wd/hub
SELENOID_VIDEO_URL=https://selenoid.example.com/video
SELENOID_LOGIN=your_login
SELENOID_PASSWORD=your_password

BROWSER_NAME=chrome
BROWSER_VERSION=125.0
BROWSER_WINDOW_WIDTH=1920
BROWSER_WINDOW_HEIGHT=1080
BROWSER_TIMEOUT=10
SELENOID_ENABLE_VIDEO=true
SELENOID_ENABLE_VNC=true
SELENOID_ENABLE_LOG=true

HEADLESS=false
